---
import { SITE_NAME } from "astro:env/client";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
    <div
        class="flex flex-col items-center justify-center px-6 pt-8 mx-auto md:h-screen pt:mt-0 dark:bg-gray-900"
    >
        <a
            href="/"
            class="flex items-center justify-center mb-8 text-2xl font-semibold lg:mb-10 dark:text-white"
        >
            <img src="/logo.svg" class="mr-4 h-11" alt="Logo" />
            <span>{SITE_NAME}</span>
        </a>
        <div class="w-full max-w-xl space-y-8 card shadow bg-white">
            <div class="card-body sm:p-8">
                <h2 class="text-2xl font-bold text-gray-900 dark:text-white">
                    Forgot your password?
                </h2>
                <p class="text-base font-normal">
                    Don't fret! Just type in your email and we will send you a
                    code to reset your password!
                </p>
                <form class="mt-8 space-y-6" action="/">
                    <div>
                        <label for="email" class="label text-base-content"
                            >Your email</label
                        >
                        <input
                            type="email"
                            name="email"
                            id="email"
                            class="input input-bordered w-full mt-2 focus:ring ring-primary focus:border-primary focus:outline-none"
                            placeholder="name@company.com"
                            required
                        />
                    </div>
                    <div class="flex items-start">
                        <div class="flex items-center h-5">
                            <input
                                id="remember"
                                type="checkbox"
                                class="checkbox checkbox-sm checkbox-primary"
                            />
                        </div>
                        <div class="ml-3 text-sm">
                            <label
                                for="remember"
                                class="font-medium label text-base-content"
                                >I accept the
                                <a
                                    href="/terms-and-conditions"
                                    class="ml-auto link link-primary link-hover text-sm font-medium"
                                    >Terms and Conditions</a
                                >
                            </label>
                        </div>
                    </div>
                    <button
                        type="submit"
                        class="btn btn-primary btn-lg text-base"
                        >Reset password</button
                    >
                </form>
            </div>
        </div>
    </div>
</Layout>
