@import "https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap";

@import "tailwindcss";

@plugin "daisyui" {
    theme:
        light --default,
        dark;
}

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --radius-selector: 1rem;
    --radius-field: 0.5rem;
    --radius-box: 0.5rem;

    --color-primary: #1d4ed8;
    --color-primary-content: #fff;
    --color-accent: oklch(55% 0.3 240);
    --color-accent-content: #fff;
    --color-neutral: oklch(12.9% 0.042 264.695);
    --color-nutral-content: oklch(98.4% 0.003 247.858);
}
@plugin "daisyui/theme" {
    name: "dark";

    --radius-selector: 1rem;
    --radius-field: 0.5rem;
    --radius-box: 0.5rem;

    --color-base-100: oklch(27.8% 0.033 256.848);
    --color-neutral: oklch(44.6% 0.03 256.802);
    --color-on-neutral: #fff;
}

@theme {
    --default-font-family: "Inter";
    --color-base-bg: oklch(98.5% 0.002 247.839);
}
[data-theme="dark"] {
    --color-base-bg: oklch(21% 0.034 264.665);
}
