---
import TableHeader from "@/components/table/TableHeader.astro";
import LayoutSidebar from "@/layouts/LayoutSidebar.astro";
---

<LayoutSidebar>
  <div class="bg-base-100">
    <TableHeader />
    <div class="overflow-x-auto border-y border-base-300">
      <table class="table">
        <thead class="uppercase text-xs bg-base-200">
          <tr>
            <th class="w-0">
              <input
                type="checkbox"
                class="checkbox checkbox-sm checkbox-primary rounded-lg"
              />
            </th>
            <th>Product Name</th>
            <th>Technology</th>
            <th>Description </th>
            <th>ID</th>
            <th>Price</th>
            <th>Discount</th>
            <th class="text-end">Actions</th>
          </tr>
        </thead>
        <tbody>
          {
            [...Array(25)].map((_) => (
              <tr>
                <th class="w-0">
                  <input
                    type="checkbox"
                    class="checkbox checkbox-sm checkbox-primary rounded-lg"
                  />
                </th>
                <td class="text-nowrap">
                  <p class="text-base font-semibold">Education Dashboard</p>
                  <p class="text-base-content/60">HTML Template</p>
                </td>
                <td>
                  <p class="text-base font-semibold">
                    Electronic Bronze Sausages{" "}
                  </p>
                </td>
                <td class="max-w-sm">
                  <p class="line-clamp-1 text-base text-base-content/60 font-semibold">
                    Andy shoes are designed to keeping in mind durability as
                    well as trends, the most stylish range of shoes & sandals
                  </p>
                </td>
                <td>
                  <p>#194556</p>
                </td>
                <td>
                  <p>945.00</p>
                </td>
                <td>
                  <p>10%</p>
                </td>
                <td>
                  <div class="flex gap-2 flex-nowrap justify-end">
                    <button class="btn btn-sm btn-primary">
                      <i class="ti ti-edit" />
                      <span>Update</span>
                    </button>
                    <button class="btn btn-sm btn-error">
                      <i class="ti ti-trash" />
                      <span>Delete Item</span>
                    </button>
                  </div>
                </td>
              </tr>
            ))
          }
        </tbody>
      </table>
    </div>
    <div class="px-4 py-3 flex justify-between items-center">
      <div class="text-sm">Showing 1-20 of 1290</div>
      <div class="join">
        <button class="join-item btn">Previous</button>
        <input
          class="join-item btn btn-square"
          type="radio"
          name="options"
          aria-label="1"
          checked="checked"
        />
        <input
          class="join-item btn btn-square"
          type="radio"
          name="options"
          aria-label="2"
        />
        <input
          class="join-item btn btn-square"
          type="radio"
          name="options"
          aria-label="3"
        />
        <input
          class="join-item btn btn-square"
          type="radio"
          name="options"
          aria-label="4"
        />
        <button class="join-item btn">Next</button>
      </div>
    </div>
  </div>
</LayoutSidebar>
