<div class="2xl:col-span-2 bg-base-100 p-4 rounded-box shadow">
  <div class="flex items-center justify-between mb-4">
    <div class="flex-shrink-0">
      <span class="text-xl font-bold leading-none sm:text-2xl text-base-content"
        >$45,385</span
      >
      <h3 class="text-base text-base-content/60">Sales this week</h3>
    </div>
    <div
      class="flex items-center justify-end flex-1 text-base font-medium text-success"
    >
      12.5%
      <i class="ti ti-arrow-narrow-up text-2xl"></i>
    </div>
  </div>
  <div id="main-chart"></div>
  <div
    class="flex items-center justify-between pt-3 mt-4 border-t border-base-300 sm:pt-6"
  >
    <div class="dropdown dropdown-top">
      <button class="btn btn-ghost" type="button" tabindex="0">
        <span>Last 7 days </span>
        <i class="ti ti-chevron-down text-xl"></i>
      </button>
      <!-- Dropdown menu -->
      <div
        tabindex="0"
        class="dropdown-content bg-base-100 rounded-box divide-y divide-base-300 shadow-lg"
      >
        <div class="px-5 py-3" role="none">
          <p
            class="text-sm font-medium text-base-content/60 truncate"
            role="none"
          >
            Sep 16, 2021 - Sep 22, 2021
          </p>
        </div>
        <ul class="menu w-full" role="none">
          <li>
            <a href="#" role="menuitem">Yesterday</a>
          </li>
          <li>
            <a href="#" role="menuitem">Today</a>
          </li>
          <li>
            <a href="#" role="menuitem">Last 7 days</a>
          </li>
          <li>
            <a href="#" role="menuitem">Last 30 days</a>
          </li>
          <li>
            <a href="#" role="menuitem">Last 90 days</a>
          </li>
        </ul>
        <div class="py-1" role="none">
          <a href="#" class="flex px-5 py-2 text-sm" role="menuitem"
            >Custom...</a
          >
        </div>
      </div>
    </div>
    <div class="flex-shrink-0">
      <a href="#" class="btn btn-ghost">
        <span> Sales Report </span>
        <i class="ti ti-chevron-right text-xl"></i>
      </a>
    </div>
  </div>
</div>
