<form action="#" method="GET" class="hidden lg:block lg:pl-3.5">
    <label
        class="input focus-within:outline-none focus-within:border-primary focus-within:ring ring-primary bg-base-200 w-96"
    >
        <i class="ti ti-search text-xl text-base-content/80"></i>
        <input type="search" required placeholder="Search here..." />
    </label>
</form>
