---
import Layout from "./Layout.astro";
import NavbarSidebar from "./NavbarSidebar.astro";
import SideBar from "./SideBar.astro";
---

<Layout>
    <NavbarSidebar />
    <SideBar />
    <div class="flex pt-16 overflow-hidden">
        <div
            id="main-content"
            class="relative w-full h-full overflow-y-auto lg:ml-64 min-h-screen"
        >
            <slot />

            <!-- <FooterSidebar /> -->
        </div>
    </div>
</Layout>
