---
import { SITE_NAME } from "astro:env/client";
import AppsDropdown from "./AppsDropdown.astro";
import NotificationsDropdown from "./NotificationsDropdown.astro";
import ColorModeSwitcher from "@/components/ColorModeSwitcher.astro";
import SearchInput from "@/components/SearchInput.astro";
import ProfileDropdown from "./ProfileDropdown.astro";
---

<nav class="fixed z-30 w-full bg-base-100 border-b border-base-300">
    <div class="px-3 py-3 lg:px-5 lg:pl-3">
        <div class="flex items-center justify-between">
            <div class="flex items-center justify-start">
                <button
                    class="btn btn-square btn-ghost lg:hidden swap swap-rotate text-base-content/80"
                    x-on:click="sidebar=!sidebar"
                >
                    <input
                        type="checkbox"
                        x-bind:checked="sidebar?'checked':''"
                    />
                    <i class="ti ti-x text-2xl swap-on"></i>
                    <i class="ti ti-menu text-2xl swap-off"></i>
                </button>
                <a href="/" class="flex ml-2 md:mr-24">
                    <img src="/logo.svg" class="h-8 mr-3" alt="FlowBite Logo" />
                    <span
                        class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap dark:text-white"
                        >{SITE_NAME}</span
                    >
                </a>

                <SearchInput />
            </div>

            <div class="flex items-center text-base-content/80">
                <!-- Search mobile -->
                <label
                    for="mobile-search"
                    class="btn btn-square btn-ghost lg:hidden"
                    x-on:click="sidebar=true"
                >
                    <span class="sr-only">Search</span>
                    <!-- Search icon -->
                    <i class="ti ti-search text-2xl"></i>
                </label>

                <!-- Dropdown menu -->
                <div
                    id="dropdownNavbar"
                    class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600"
                >
                    <ul
                        class="py-2 text-sm text-gray-700 dark:text-gray-400"
                        aria-labelledby="dropdownNavbarButton"
                    >
                        <li>
                            <a
                                href="#"
                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                                >Dashboard</a
                            >
                        </li>
                        <li>
                            <a
                                href="#"
                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                                >Settings</a
                            >
                        </li>
                        <li>
                            <a
                                href="#"
                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                                >Earnings</a
                            >
                        </li>
                    </ul>
                    <div class="py-2">
                        <a
                            href="#"
                            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-400 dark:hover:text-white"
                            >Sign out</a
                        >
                    </div>
                </div>

                <!-- Notifications -->
                <button
                    type="button"
                    class="btn btn-square btn-ghost"
                    popovertarget="notifications-dropdown"
                    style="anchor-name: --anchor-notifications;"
                >
                    <span class="sr-only">View notifications</span>
                    <!-- Bell icon -->
                    <i class="ti ti-bell-filled text-2xl"></i>
                </button>
                <!-- Dropdown menu -->
                <NotificationsDropdown />
                <!-- Apps -->
                <button
                    type="button"
                    class="hidden sm:inline-flex btn btn-square btn-ghost"
                    popovertarget="apps-dropdown"
                    style="anchor-name: --anchor-apps"
                >
                    <span class="sr-only">View applications</span>
                    <i class="ti ti-layout-grid-filled text-2xl"></i>
                </button>
                <!-- Dropdown menu -->
                <AppsDropdown />

                <ColorModeSwitcher />

                <!-- Profile -->
                <div class="flex items-center ml-3">
                    <div class="btn btn-ghost btn-circle relative">
                        <div class="avatar">
                            <div
                                aria-label="Open Menu"
                                class="w-8 rounded-full flex"
                            >
                                <img src="/avatars/06.png" alt="user photo" />
                            </div>
                        </div>
                        <input
                            type="button"
                            aria-label="open dropdown"
                            popovertarget="profile-dropdown"
                            style="anchor-name:--anchor-profile"
                            class="absolute top-0 left-0 right-0 bottom-0 cursor-pointer"
                        />
                    </div>
                    <!-- Dropdown menu -->
                    <ProfileDropdown />
                </div>
            </div>
        </div>
    </div>
</nav>
