<div
    popover
    class="dropdown w-52 rounded bg-base-100 shadow-sm dropdown-end"
    style="position-anchor: --anchor-profile;"
    id="profile-dropdown"
>
    <div class="px-4 py-3 text-sm">
        <p>Madeleine Higgins</p>
        <p><strong>madeleine@mail.com</strong></p>
    </div>
    <hr class="text-base-300" />
    <ul class="menu w-full">
        <li><a>Dashboard</a></li>
        <li><a>Settings</a></li>
        <li><a>Earnings</a></li>
        <li><a>Sign out</a></li>
    </ul>
</div>
