---
import { sidebar_navs } from "@/app/constant";
---

<aside
    id="sidebar"
    class="fixed top-0 -left-full lg:left-0 z-20 flex flex-col flex-shrink-0 w-64 h-full pt-16 font-normal duration-75 lg:flex transition-width"
    aria-label="Sidebar"
>
    <div
        class="relative flex flex-col flex-1 min-h-0 pt-0 bg-base-100 border-r border-base-300"
    >
        <div
            class:list={[
                "flex flex-col flex-1 pt-5 pb-28 overflow-y-auto",
                "scrollbar scrollbar-w-2 scrollbar-thumb-rounded-[0.1667rem]",
                "scrollbar-thumb-slate-200 scrollbar-track-gray-400",
                "dark:scrollbar-thumb-slate-900 dark:scrollbar-track-gray-800",
            ]}
        >
            <div class="flex-1 space-y-1 bg-base-100 divide-y divide-base-300">
                <ul class="menu menu-lg gap-2 w-full text-base-content/80">
                    <li>
                        <form action="#" method="GET" class="lg:hidden">
                            <label for="mobile-search" class="sr-only"
                                >Search</label
                            >
                            <div class="relative">
                                <div
                                    class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
                                >
                                    <i class="ti ti-search text-2xl"></i>
                                </div>
                                <input
                                    type="text"
                                    name="email"
                                    id="mobile-search"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-200 dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                    placeholder="Search"
                                />
                            </div>
                        </form>
                    </li>
                    {
                        sidebar_navs.map((item) => (
                            <li>
                                {item.childrens ? (
                                    <details>
                                        <summary>
                                            <i
                                                class:list={[
                                                    item.icon,
                                                    "text-2xl",
                                                ]}
                                            />
                                            <span>{item.name}</span>
                                        </summary>
                                        <ul class="gap-2 mt-2">
                                            {item.childrens.map((child) => (
                                                <li>
                                                    <a>{child.name}</a>
                                                </li>
                                            ))}
                                        </ul>
                                    </details>
                                ) : (
                                    <a href={item.link}>
                                        <i
                                            class:list={[item.icon, "text-2xl"]}
                                        />
                                        <span>{item.name}</span>
                                    </a>
                                )}
                            </li>
                        ))
                    }
                </ul>
                <ul class="menu menu-lg w-full gap-2 text-base-content/80">
                    <li>
                        <a>
                            <i class="ti ti-logout text-2xl"></i>
                            <span> Sign out </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div
            class="absolute bottom-0 left-0 justify-center hidden w-full p-4 space-x-4 bg-white lg:flex dark:bg-gray-800"
            sidebar-bottom-menu
        >
            <a href="#" class="btn btn-square btn-ghost text-base-content/80">
                <svg
                    class="w-6 h-6"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                    ><path
                        d="M5 4a1 1 0 00-2 0v7.268a2 2 0 000 3.464V16a1 1 0 102 0v-1.268a2 2 0 000-3.464V4zM11 4a1 1 0 10-2 0v1.268a2 2 0 000 3.464V16a1 1 0 102 0V8.732a2 2 0 000-3.464V4zM16 3a1 1 0 011 1v7.268a2 2 0 010 3.464V16a1 1 0 11-2 0v-1.268a2 2 0 010-3.464V4a1 1 0 011-1z"
                    ></path></svg
                >
            </a>
            <div class="tooltip tooltip-top" data-tip="Settings Page">
                <a
                    href="/settings/"
                    data-tooltip-target="tooltip-settings"
                    class="btn btn-square btn-ghost text-base-content/80"
                >
                    <svg
                        class="w-6 h-6"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg"
                        ><path
                            fill-rule="evenodd"
                            d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z"
                            clip-rule="evenodd"></path></svg
                    >
                </a>
            </div>
            <div class="dropdown dropdown-top dropdown-center">
                <button
                    type="button"
                    class="btn btn-ghost btn-square"
                    tabindex="0"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="512"
                        height="512"
                        viewBox="0 0 512 512"
                        class="h-6 w-6"
                        ><mask id="a"
                            ><circle cx="256" cy="256" r="256" fill="#fff"
                            ></circle></mask
                        ><g mask="url(#a)"
                            ><path
                                fill="#eee"
                                d="m0 256 249.6-41.3L512 256v256H0z"
                            ></path><path fill="#a2001d" d="M0 0h512v256H0z"
                            ></path></g
                        ></svg
                    >
                </button>
                <ul
                    class="menu dropdown-content w-40 shadow rounded-box"
                    tabindex="0"
                >
                    <li>
                        <a>
                            <span>
                                <svg
                                    class="w-6 h-6"
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="512"
                                    height="512"
                                    viewBox="0 0 512 512"
                                    ><mask id="a"
                                        ><circle
                                            cx="256"
                                            cy="256"
                                            r="256"
                                            fill="#fff"></circle></mask
                                    ><g mask="url(#a)"
                                        ><path
                                            fill="#eee"
                                            d="m0 0 8 22-8 23v23l32 54-32 54v32l32 48-32 48v32l32 54-32 54v68l22-8 23 8h23l54-32 54 32h32l48-32 48 32h32l54-32 54 32h68l-8-22 8-23v-23l-32-54 32-54v-32l-32-48 32-48v-32l-32-54 32-54V0l-22 8-23-8h-23l-54 32-54-32h-32l-48 32-48-32h-32l-54 32L68 0H0z"
                                        ></path><path
                                            fill="#0052b4"
                                            d="M336 0v108L444 0Zm176 68L404 176h108zM0 176h108L0 68ZM68 0l108 108V0Zm108 512V404L68 512ZM0 444l108-108H0Zm512-108H404l108 108Zm-68 176L336 404v108z"
                                        ></path><path
                                            fill="#d80027"
                                            d="M0 0v45l131 131h45L0 0zm208 0v208H0v96h208v208h96V304h208v-96H304V0h-96zm259 0L336 131v45L512 0h-45zM176 336 0 512h45l131-131v-45zm160 0 176 176v-45L381 336h-45z"
                                        ></path></g
                                    ></svg
                                >
                            </span>
                            <span> English </span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="512"
                                height="512"
                                viewBox="0 0 512 512"
                                class="h-6 w-6"
                                ><mask id="a"
                                    ><circle
                                        cx="256"
                                        cy="256"
                                        r="256"
                                        fill="#fff"></circle></mask
                                ><g mask="url(#a)"
                                    ><path
                                        fill="#eee"
                                        d="m0 256 249.6-41.3L512 256v256H0z"
                                    ></path><path
                                        fill="#a2001d"
                                        d="M0 0h512v256H0z"></path></g
                                ></svg
                            >
                            <span>Indonesia</span></a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </div>
</aside>
